@page "/BuyBook"
@using SEP3_Tier1.Models


<h3>Invoice</h3>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <td>@buyer.firstName @buyer.lastName</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>@buyer.address</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>@buyer.phoneNumber</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@buyer.email</td>
        </tr>
    </table>
</div>

<hr class="dashed">

<h3>Payment</h3>

    
    <div class="action">
        <button class="btn btn-primary" type="submit">Purchase</button>
    </div>



@code {
    Customer buyer = new Customer() {
        username = "Markus",
        password = "1234",
        firstName = "Markus",
        lastName = "Lorensen",
        address = "Horsens City",
        postCode = "8700",
        phoneNumber = 60489027,
        email = "markuslorensen@gmail.com"
    };
    

    private void ConfirmPurchase() {
    }
    
    
    

}