@page "/Cart"
@using SEP3_Tier1.Models
@using SEP3_Tier1.Data
@inject IPurchaseService PurchaseService
<h3>Cart</h3>

<div class="container">
    @if (CartItems == null)
    {
        <p>
            <em>Cart is empty...</em>
        </p>
    }
    else
    {
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Edition</th>
                <th>Condition</th>
                <th>Subject</th>
                <th>Image</th>
                <th>Price</th>
                <th>HardCopy</th>
                <th>Username</th>
                <th>Delete</th>

            </tr>
            </thead>
            <tbody>
            @foreach (BookSale item in CartItems)
            {
                <tr contenteditable="true">
                    <td>@item.title</td>
                    <td>@item.author</td>
                    <td>@item.edition</td>
                    <td>@item.condition</td>
                    <td>@item.subject</td>
                    <td>@item.image</td>
                    <td>@item.price</td>
                    <td>@item.hardCopy</td>
                    <td>@item.username</td>
                    <td><button @onclick="@(() => DeleteSale(item.bookSaleID))"></button></td>
                </tr>
            }
            </tbody>
        </table>}
    <button @onclick="@(() => ConfirmPurchase())"></button>
   
    
   
</div>



@code {

    private IList<BookSale> CartItems;

    protected override async Task OnInitializedAsync()
    {
        CartItems = await PurchaseService.GetCartItems();
    }
    
    
    
    private async Task DeleteSale(int id)
    {
        CartItems.RemoveAt(id);
    }

    private async Task ConfirmPurchase()
    {
        
    }

}